<div class="container top">
  <h1>Editing accountant</h1>
  <%= render 'form', accountant: @accountant %>
  <%= link_to 'Show',  [:admin, @accountant] %> |
  <%= link_to 'Back', admin_accountants_path %>
</div>