<div class="container">
  <% if customer_signed_in? %> 
    <div class="container-fluid">
      <%= link_to('Your Profile', edit_customer_registration_path) %>
    </div> 
  <% elsif accountant_signed_in? %>
    <div class="container">
      <div id="show" class="card">
        <div class="card-body">
          <p>
            <strong>First Name:</strong>
            <%= @customer.try(:first_name) %>
          </p>
          <p>

        </div>
      </div>
    </div>
  <% end %>
</div>