<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<%= image_tag 'refer_banner5', class: 'refer-image'%>
		</div>
		<div class="col-sm-8">
			<div class="fl_right">
				<span><p class="for-a-limited-time">&nbsp;&nbsp;&nbsp;FOR A LIMITED TIME</p></span>
				<span><p class="give-your-friends">&nbsp;&nbsp;&nbsp;Give your friends 10% off, and you earn $20 cash for each referral.</p></span>
			</div>
			<div style="margin-top:40px;">

				<form>
					<label class="label">Friend's Email Address: </label><br>
					<textarea required class="textarea" rows="4" cols="45" name="referral[referral_emails]" placeholder="Enter your friend's Email Addresses separated by a comma here"></textarea>
					<input type="submit" class="button refer-button" style="" value="Submit">
				</form>      
			</div>

			<div class="referrals-must-complete">
				<span><p>&nbsp;&nbsp;&nbsp;*Referrals must complete filling their Tax return with TaxVista before 3/30/2017.</p></span>
				<span><p style="margin-top: -2%;">&nbsp;&nbsp;&nbsp;Referral cash will be processed at the earliest or before April 25 2018.</p></span>
			</div>
		</div>
	</div>
	<br class="clear" />
</div>