//** Table Accountants **\\
#table-accountants {
  width: 82%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-left: 17%;
  background-color: transparent;
}

.table-button-accountants{
  margin-top: 0%; 
  margin-left: 17%;
}

.table-text-accountants{
  margin-top: 5%; 
  margin-left: 17%;
}
//** End Table Accountants **\\

//** Table Admins **\\

#table-admins {
  width: 82%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-left: 11%;
  background-color: transparent;
}

.table-text-admins{
  margin-top: 5%; 
  margin-left: 12%;
}

.table-button-admins{
  margin-top: 0%; 
  margin-left: 12%;
}

//** End Table Admins **\\


//** Table Customers **\\

#table-customers {
  width: 82%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-left: 12%;
  background-color: transparent;
}

.table-text-customers{
  margin-top: 5%; 
  margin-left: 12%;
}

.table-button-customers{
  margin-top: 0%; 
  margin-left: 12%;
}

//** End Table Customers **\\