//** Table Accountants **\\
.row{
  width:100%;
}
#table-accountants {
  white-space: nowrap;
  max-width: auto;
  margin-left: 17%;
  background-color: transparent;
}

.table-button-accountants{
  margin-top: 0%; 
  margin-left: 17%;
}

.table-text-accountants{
  margin-top: 5%; 
  margin-left: 17%;
}

.form-accountant{
  margin-top:-4%;
  margin-left: 11%;
}
.create-accountant{
  margin-left: 35%; 
  margin-top: 5%;
}
//** End Table Accountants **\\

//** Table Admins **\\

#table-admins {
  margin-left: 11%;
}

.table-text-admins{
  margin-top: 5%; 
  margin-left: 17%;
}

.table-button-admins{
  margin-top: 0%; 
  margin-left: 17%;
}
.form-admin{
  margin-top:-4%;
  margin-left: 11%;
}
.create-admin{
  margin-left: 35%; 
  margin-top: 5%;
}
//** End Table Admins **\\


//** Table Customers **\\

.table-customers {
  white-space: nowrap;
  margin-bottom: 1rem;
  margin-left: 12%!important;
  background-color: transparent;
}

.table-text-customers{
  margin-top: 5%; 
 margin-left: 17%;
}

.table-button-customers{
  margin-top: 0%; 
   margin-left: 17%;
}
.form-customers{
  margin-top:-4%;
  margin-left: 11%;
}
.create-customers{
  margin-left: 35%; 
  margin-top: 5%;
}

//** End Table Customers **\\

//**Show Page**\\
#show{
  margin-left:15%;
  margin-top:7%;
  width: 53rem; 
  height: auto;
  box-shadow: 1px 1px 2px 2px
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    white-space: nowrap;
}
//**table example**\\

#example{
  margin-left: 17%;
  width:83%;  
  white-space: nowrap;
}

#example_length{
  margin-left: 17%;
}
.common-from{
  margin-left: 20%;
  margin-top: 5%;
}
div.dataTables_wrapper div.dataTables_info {
    margin-left: 17%;
    padding-top: 0.85em;
    white-space: nowrap;
}
table {
    display: table;
    border-color: black;
}