<div class="container top">
  <h1 class="create-customers">Editing account</h1><hr>
  <div class="form-customers">
    <%= render 'form', account: @account %>
    <%#= link_to 'Show', @account %>
    <%= link_to 'Back', customer_accounts_path %>
  </div>
</div>