.row{
  width: 100%;
}
.footer{
  background-color: gray; 
  margin-top: 21.85%
}

.footer-heading{
  font-size: 1.5rem;
}
.footer-image{
  width: 48px;
}
.top{
  margin-top: 2%;
}

.contact-text{
  font-size: 16px;
}

//**Contact Us**\\
.card {
    position: relative;
    display: flex;
    height: 415px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.vl {
    border-left: 1px solid black;
    height: 414px;
}
//**Contact Us**\\