<section class="py-5">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
         <h2 class="footer-heading">1. Individual Returns</h2>
         <img class="imgl footer-image" src="/assets/images/icon2.png" />
         <p align="justify">Our Tax Professionals are ready to help you with Tax Returns. Schedule your appointment
         today for the lowest price and best service..</p>
      </div>
      <div class="col-md-4">
        <h2 class="footer-heading">2. Business Returns</h2>
        <img class="imgl footer-image" src="/assets/images/icon2.png" alt="" />
        <p align="justify">Want to set up a new company and not sure about the Legal structure you want to set-up the
          company with? Contact us and we will help you manage the entire business cycle for setting up a new business.
        We provide Income Tax Preparation Services for small businesses.</p>
      </div>
      <div class="col-md-4">
        <h2 class="footer-heading">3. OPT/Students/F1</h2>
        <img class="imgl footer-image" src="/assets/images/icon2.png" alt="" />
        <p align="justify">We ourselves were students once and we understand all the financial hardships students face.
          We will give you the lowest price and find every tax deduction and credit you deserve so you get the biggest
        tax refund possible.</p>
      </div>
    </div>
  </div>
  <hr>
</section>
 <!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>